<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicamento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

    <main>
        <section class="container my-4">
            <div class="row">
                <div class="col-12 col-md-8">
                    <h3>Registro de Medicamentos</h3>
                    <form class="p-5 border rounded shadow">
                        <div class="row">
                            <div class="col-6">
                                <label class="form-label">Nombre:</label>
                                <input type="text" class="form-control" id="nombremedicamento">
                            </div>
                            <div class="col-6">
                                <label class="form-label">Presentación:</label>
                                <input type="text" class="form-control" id="presentacionmedicamento">
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6">
                                <label class="form-label">Dosis:</label>
                                <input type="text" class="form-control" id="dosismedicamento">
                            </div>
                            <div class="col-6">
                                <label class="form-label">Fecha de Caducidad:</label>
                                <input type="date" class="form-control" id="caducidadmedicamento">
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6">
                                <label class="form-label">Laboratorio:</label>
                                <input type="text" class="form-control" id="laboratoriomedicamento">
                            </div>
                            <div class="col-6">
                                <label class="form-label">Contraindicaciones:</label>
                                <input type="text" class="form-control" id="contraindicacionesmedicamento">
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6">
                                <label class="form-label">Registro:</label>
                                <input type="text" class="form-control" id="registromedicamento">
                            </div>
                            <div class="col-6">
                                <div class="row my-3">
                                    <div class="form-check form-switch ms-2">
                                        <input class="form-check-input" type="checkbox" role="switch" id="copagomedicamento">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">¿Tiene copago?</label>
                                      </div>
                                 </div>
                            </div>
                         </div>
                        
                         <button class="btn btn-primary w-100" type="submit" id="botonregistromedicamento">Registrar</button>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="../controllers/controladormedicamento.js" type="module"></script>
</body>
</html>